<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IQCommunicatorService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="568556652" maxReceivedMessageSize="568556652"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
                    <security mode="Transport">
                        <transport clientCredentialType="None" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQCommunicatorService"
                contract="QCommService.IQCommunicatorService" name="WSHttpBinding_IQCommunicatorService" />
        </client>
    </system.serviceModel>
</configuration>