<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="eRx10dot6">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ophit.net/WCFeRx/eRx.svc/secure" binding="wsHttpBinding"
        bindingConfiguration="eRx10dot6" contract="MedHxService.IeRx"
        name="eRx10dot6" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="MedHxDBEntities" connectionString="metadata=res://*/MedHx.MedHxDB.csdl|res://*/MedHx.MedHxDB.ssdl|res://*/MedHx.MedHxDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=dev05;initial catalog=glo8010_Demo;persist security info=True;user id=sa;password=sadev05;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>