<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="gloBilling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <gloBilling.Properties.Settings>
      <setting name="gloBilling_RTEligibilityService_Eligibility" serializeAs="String">
        <value>https://testservices.gatewayedi.com/Eligibility/Service.asmx</value>
      </setting>
      <setting name="gloBilling_EDIService_gloWebEDI" serializeAs="String">
        <value>http://glosvr05/gloWebEDI/gloWebEDI.asmx</value>
      </setting>
      <setting name="gloBilling_EDIService_gloWebEDI837" serializeAs="String">
        <value>http://glosvr05/glowebedi/gloWebEDI.asmx</value>
      </setting>
    </gloBilling.Properties.Settings>
  </applicationSettings>
  <connectionStrings>
    <add name="EFCollection" connectionString="metadata=res://*/Collections.EFCollection.csdl|res://*/Collections.EFCollection.ssdl|res://*/Collections.EFCollection.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=glosvr02\fdg;Initial Catalog=dfg;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>