<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
  <connectionStrings>
    <add name="EFCollection" connectionString="metadata=res://*/Collections.EFCollection.csdl|res://*/Collections.EFCollection.ssdl|res://*/Collections.EFCollection.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=glosvr02\fdg;Initial Catalog=dfg;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <!--Start MU2 Patient Portal Region-->
    <add key="EmailSeviceUri" value="http://dev06/gloEmail/EmailService.svc"/>
    <add key="sourcekey" value="glo3102012AwSlkqwop1100" />

    <add key ="GLOEMR" value ="gloEMR"/>
    <add key ="GLOPM" value ="gloPM"/>
    <add key ="GLOEMRADMIN" value ="gloEMR Admin"/>
    <add key ="GLOPMADMIN" value ="gloPM Admin"/>
    <add key ="GLOCLAIMMANAGER" value ="Claim Manager"/>

    <add key ="GLOEMRINSTALLLOGFILE" value ="gloEMR"/>
    <add key ="GLOPMINSTALLLOGFILE" value ="gloPM"/>
    <add key ="GLOEMRADMININSTALLLOGFILE" value ="gloEMRAdmin"/>
    <add key ="GLOPMADMININSTALLLOGFILE" value ="gloPMAdmin"/>
    <add key ="GLOCLAIMMANAGERINSTALLLOGFILE" value ="Claim Manager"/>

    <add key ="IsClientUpdateAvailable" value ="false"/>
    <add key ="gloServicesDBName" value ="gloServices"/>
    <add key ="IsLogging" value ="0"/>
    <!--End MU2 Patient Portal Region-->
    
  </appSettings>
  <runtime>
    <legacyCorruptedStateExceptionsPolicy enabled="true" />
  </runtime>
  <system.serviceModel>
    <bindings>
		<wsHttpBinding>
			<binding name="WSHttpBinding_IQCommunicatorService" closeTimeout="00:10:00"
          openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="568556652" maxReceivedMessageSize="568556652"
          messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
          allowCookies="false">
				<security mode="Transport">
					<transport clientCredentialType="None" />
				</security>
			</binding>
		</wsHttpBinding>
      <customBinding>
        <binding name="CoreConnect">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false"
					messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
          <mtomMessageEncoding messageVersion="Soap12"/>
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="https://api.gatewayedi.com/v2/CORE_CAQH/soap" binding="customBinding"
				bindingConfiguration="CoreConnect"
        contract="CSICoreService.CORETransactions"
        name="CoreConnect"  />
		<endpoint address="https://demoportal.triarqclouds.com/QCommunication/QCommunicatorService.svc/secure"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IQCommunicatorService"
                contract="QCommService.IQCommunicatorService" name="WSHttpBinding_IQCommunicatorService" />
    </client>
  </system.serviceModel>
</configuration>
