<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="gloPatientSavingMessage.Properties.Settings.glo8000_DEV_POCConnectionString"
            connectionString="Data Source=GLOSVR02\SQL2008R2;Initial Catalog=glo8000_DEV_POC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="gloPatientSavingMessage.Properties.Settings.glo8000_devConnectionString"
            connectionString="Data Source=dev14;Initial Catalog=glo8000_dev;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>